<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>Lorena's App</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#Actor">Actor</a></li>
            <li><a href="#Party">Party</a></li>
            <li><a href="#Product">Product</a></li>
            
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div ng-controller="HomeController">
      <h1>{{ helloWorld }}</h1>
      <p>Writing this live into the browser...</p>
    </div>
  </div>

  

  <!-- /resources1 -->
   <div class="container" ng-controller="HomeController">
      <h1 id="Actor">Actor</h1>
        <h2>List all actors</h2>
           <table class="table table-bordered">
              <tr>
                <th ng-repeat="key in keys">{{ key }}</th>
                <th style="width:210px;">Options</th>
            </tr>
              <tr ng-repeat="item in actors.data" >
                  <td>{{ item.movie }}</td>
                  <td>{{ item.name }}</td>
                  <td>
            <a href="">
              <span class="label label-success" ng-click="openActor(item)">
                Open
                <span class="glyphicon glyphicon-folder-open"></span>
              </span>
            </a>
          <button ng-click="setUpdateActor(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            <button ng-click="deleteActor(item.name)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2>Add new actor</h2>  
    <table>
      <tr>
        <td>Movie</td>
        <td><input type="text" class="form-control" ng-model="actor.movie"/></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" class="form-control" ng-model="actor.name"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button ng-click="addActor(actor)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <h2>Edit actor</h2>
    <table>
      <tr>
        <td>Movie</td>
        <td><input type="text" ng-model="editActor.movie"></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" ng-model="editActor.name"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-info btn-xs" ng-click="updateActor()">
            Update
          </button>
        </td>
      </tr>
    </table>

</div>
   

  <!-- /resources2-->
  <div class="container" ng-controller="PController">
    <h1 id="Party">Party</h1>
    <h2>List all parties</h2>
    <table class="table table-bordered">
      <tr>
        <th ng-repeat="key in keys">{{ key }}</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="item in parties.data" >
        <td>{{ item.id }}</td>
        <td>{{ item.nr_guests }}</td>
        <td>{{ item.theme }}</td>
        

        <td>
          <a href="">
            <span class="label label-success" ng-click="openParty(item)">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <button ng-click="setUpdateParty(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="deleteParty(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2>Add new party</h2>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="party.id"/></td>
      </tr>
      <tr>
        <td>Nr.Guests</td>
        <td><input type="text" class="form-control" ng-model="party.nr_guests"/></td>
      </tr>
      <tr>
        <td>Theme</td>
        <td><input type="text" class="form-control" ng-model="party.theme"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button ng-click="addParty(party)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <h2>Edit party</h2>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editParty.id"></td>
      </tr>
      <tr>
        <td>Nr.Guests</td>
        <td><input type="text" ng-model="editParty.nr_guests"></td>
      </tr>
      <tr>
        <td>Theme</td>
        <td><input type="text" ng-model="editParty.theme"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-info btn-xs" ng-click="updateParty()">
            Update
          </button>
        </td>
      </tr>
    </table>
    
</div>

   
  
    <!-- /resources3-->
  
    <div class="container" ng-controller="PPController">
      <h1 id="Product">Product</h1>
      <h2>List all products</h2>
   <table class="table table-bordered">
               <tr>
                    <th ng-repeat="key in keys">{{ key }}</th>
                    <th style="width:210px;">Options</th>
               </tr>
     <tr ng-repeat="item in products.data" >
           <td>{{ item.id }}</td>
           <td>{{ item.name }}</td>
           <td>{{ item.price }}</td>
        

      <td>
          <a href="">
            <span class="label label-success" ng-click="openProduct(item)">
              Open
             <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <button ng-click="setUpdateProduct(item)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
          </a>
          <button ng-click="deleteProduct(item.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <h2>Add new product</h2>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" class="form-control" ng-model="product.id"/></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" class="form-control" ng-model="product.name"/></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><input type="text" class="form-control" ng-model="product.price"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <button ng-click="addProduct(product)" class="btn btn-primary btn-xs">Add</button>
        </td>
      </tr>
    </table>


    <h2>Edit product</h2>
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" ng-model="editProduct.id"></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" ng-model="editProduct.name"></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><input type="text" ng-model="editProduct.price"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-info btn-xs" ng-click="updateProduct()">
            Update
          </button>
        </td>
      </tr>
    </table>
  </div>
 

  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Cojoc Lorena, 332AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
